
mandelbrot_GPGPU/.vs/mandelbrot_GPGPU/v16/.suo
mandelbrot_GPGPU/.vs/mandelbrot_GPGPU/v16/Browse.VC.db
mandelbrot_GPGPU/.vs/mandelbrot_GPGPU/v16/ipch/AutoPCH/f9781de951870d7b/MANDELBROT_GPGPU.ipch
mandelbrot/.vs/mandelbrot/FileContentIndex/12b3424e-f5cd-40f0-a247-181968d1aa4f.vsidx
mandelbrot/.vs/mandelbrot/FileContentIndex/12b3424e-f5cd-40f0-a247-181968d1aa4f.vsidx
mandelbrot/.vs/mandelbrot/FileContentIndex/1e8a53db-236e-48c0-a8a6-7a5e74790b07.vsidx
mandelbrot/.vs/mandelbrot/FileContentIndex/2fbba21b-d9a8-4d6c-9734-6772f88965e2.vsidx
mandelbrot/.vs/mandelbrot/FileContentIndex/74473b16-32d4-4ece-919f-6c3f60051951.vsidx
mandelbrot/.vs/mandelbrot/FileContentIndex/a8bde2ab-4f7c-493d-85ea-9b3e745cccba.vsidx
mandelbrot/.vs/mandelbrot/FileContentIndex/12b3424e-f5cd-40f0-a247-181968d1aa4f.vsidx
*.vsidx
mandelbrot/.vs/mandelbrot/v17/.suo
mandelbrot/.vs/mandelbrot/v17/.wsuo
mandelbrot/.vs/mandelbrot/v17/.suo
mandelbrot/.vs/mandelbrot/v17/Browse.VC.db
*.db
*.ipch
*.json
*.exe
mandelbrot/mandelbrot/Debug/mandelbrot.exe.recipe
*.recipe
*.obj
*.tlog
*.lastbuildstate
*.txt
*.idb
mandelbrot_GPGPU/.vs/mandelbrot_GPGPU/v16/.suo
*.db
*.db-shm
*.opendb
*.sqlite
*.dll
*.lock
mandelbrot_GPGPU/Interactvie_Mandelbrot/Interactive_Mandelbrot/.vs/Interactive_Mandelbrot/v17/.suo
*.sln
*.h
*.cpp
*.vcxproj
*.filters
*.user
*.tga
*.ilk
*.log
*.pdb
*.ipdb
*.cpp
*.html
*.png
*.js
*.hhp
*.hhk
*.hhc
*.css
*.filters
*.vcxproj
*.frag
*.jpg
*.vert
*.geom
*.ttf
*.inl
*.hpp
*.lib
*.cmake
*.chm
*.wav
*.ogg
*.md
*.flac
*.filters
*.iobj
*.db-wal
